.copy_right {
  background-color: #222d3f;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
}

.fiverr_link {
  color: #fff;
  margin-left: 3px;
}
