.dental_emergency_content {
  position: relative;
  top: 200px;
  text-align: justify;
}

.dental_emergency_content h1,
.dental_emergency_content h2 {
  color: #58a8ff;
  padding: 0 30px;
}

.dental_emergency_content p {
  padding: 0 30px;
}

.dental_image_para {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.dental_para {
  width: 50%;
}

.dental_para > h1 {
  margin: 20px 0;
}

.dental_para p {
  line-height: 2rem;
}

.dental_emergency_heading {
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
}

.dental_emergency_content > h2 {
  margin: 20px 0;
}

.common_dental_emergency {
  margin: 20px 0;
}
