.services_content {
  position: relative;
  top: 150px;
}

.servive_image {
  position: relative;
  background-image: url(../doctorBlue.jpg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
}

.service_head {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.service_head > h1 {
  padding: 19px 30px;
  display: inline-block;
  position: relative;
  background-color: #e5e5e5;
  color: #323232;
  z-index: 2;
}

.service_head > h1::after {
  background: linear-gradient(
    to top right,
    #e5e5e5 0%,
    #e5e5e5 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  width: 72px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -72px;
}

.dental_services {
  margin: 30px 0;
}

.general_service {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 10px;
}

.service_image figure {
  position: relative;
  width: 100%;
  height: 40vh;
}

.service_image figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.general_dentistry_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.general_dentistry > h1 {
  color: #58a8ff;
  margin: 20px 10px;
}

.service_name {
  text-align: center;
  color: #58a8ff;
  margin: 20px 0;
  font-size: 17px;
  text-transform: uppercase;
}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /* set the appearance of the slider: */
  width: 40px;
  height: 40px;
  background-color: #2196f3;
  opacity: 0.7;
  border-radius: 50%;
}
